# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Debug / Release
Debug/
Release/
x64/
x86/

# Cache / temp
*.cache
*.pdb
*.log

# Resharper
_ReSharper*/
*.DotSettings.user
